body {
  margin: 0 auto;
  padding: 0;
  width: 375px;
}

header {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 2px solid #c6c6c6;
}
#logo-img {
  width: 127px;
}
#user-avatar-img {
  width: 34px;
  border-radius: 50%;
}
